<div class="home container">
  <div class='row'>
  	<div class='small-12 med-12 large-12 columns'>
  		<h2>Welcome to the awesome make your own game game!</h2>
  	</div>
  </div>
  <div class='row'>
  	<div class='small-0 med-2 large-2 columns'>
  	</div>
  	<div class='small-12 med-9 large-9 columns'>
  		<button>Play Now</button>
  		<button>Step 1: Make a Prefab</button>
  		<button>Step 2: Make a Level</button>
  	</div>
  	<div class='small-0 med-2 large-2 columns'>
  	</div>
  </div>
</div>
