  <div>
    <nav class="top-bar" data-topbar="">
      
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1 class="luckiest-guy">
            <a href="/">
              Game
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>


    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown not-click">
            <a href="/levels">Levels</a>
            <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li><li class="parent-link show-for-small"><a class="parent-link js-generated" href="#">Main Item 1</a></li>
              <li><label>Section Name</label></li>
              <li class="has-dropdown not-click">
                <a href="#" class="">Has Dropdown, Level 1</a>
                <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li><li class="parent-link show-for-small"><a class="parent-link js-generated" href="#">Has Dropdown, Level 1</a></li>
                  <li><a href="#">Level 2</a></li>
                  <li><a href="#">Subdropdown Option</a></li>
                  <li><a href="#">Subdropdown Option</a></li>
                  <li><a href="#">Subdropdown Option</a></li>
                </ul>
              </li>
              <li><a href="#/sessions">All Sessions</a></li>
              <li><a href="#/sessions/new">New Session</a></li>
              <li class="divider"></li>
              <li><label>Section Name</label></li>
              <li><a href="#">Dropdown Option</a></li>
              <li><a href="#">Dropdown Option</a></li>
              <li><a href="#">Dropdown Option</a></li>
              <li class="divider"></li>
              <li><a href="#">See all →</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown not-click">
            <a href="/level_prefabs">Level Prefabs</a>
            <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li><li class="parent-link show-for-small"><a class="parent-link js-generated" href="#">Main Item 2</a></li>
              <li><a href="#/musicians">All Musicians</a></li>
              <li><a href="#/musicians/new">New Musician</a></li>
              <li class="divider"></li>
              <li><a href="#">See all →</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown not-click">
            <a href="#instruments">Instruments</a>
            <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li><li class="parent-link show-for-small"><a class="parent-link js-generated" href="#">Main Item 2</a></li>
              <li><a href="#/instruments">View All</a></li>
              <li><a href="#/instruments/new">New</a></li>
              <li class="divider"></li>
              <li><a href="#">See all →</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="">
            <a href="#">Login</a>
          </li>
          <li class="divider"></li>
          <li class="">
            <a href='#/users/new'>Sign Up</a>
          </li>
        </ul>
      </section>
    </nav>

  <div class="container-fluid page-host" data-bind="router: {}"></div>
  
</div>
     



