body {
	overflow: hidden;
}

#c, #level-canvas {
	padding: 0;
	margin: 5px;
	border: 1px solid black;
}

#preview-canvas {
	padding: 0;
	margin: 0;
	border: 1px solid black;
}

.level-select-container {
	/*float: left;*/
	width: 100%;
	padding: 5px;
}

.level-object-container {
/*	float: left;*/
	width: 100%;
}

.inputs-container {
	display: block;
}

.inputs-container input, .inputs-container select {
	margin: 5px;
	display: block;
	width: 100%;
}

.fullWidth {
   width: 99% !important;
   margin-left: auto !important;
   margin-right: auto !important;
   max-width: initial !important;
}