<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="assets/javascripts/shootAndSlash.js"></script>

  <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
  
  <title>Shoot and Slash</title>
</head>
<body>
  <div class="main">
    <canvas id="c"></canvas>
  </div>
  <a href="/levelEditor">Level Editor</a>
</body>
</html>
