<%= form_for(@level_prefab) do |f| %>
  <% if @level_prefab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level_prefab.errors.count, "error") %> prohibited this level_prefab from being saved:</h2>

      <ul>
      <% @level_prefab.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
